
body {

}

.c-tile {
}

.c-tile.mod-black {
  color: white;
  background: black;
}

.c-tile.mod-empty {
  color: white;
  background: #ccc;
}

.c-tile.mod-dragging {
  opacity: 0.5;
}

/* Based on http://codepen.io/gpyne/pen/iElhp */

body {
  background-color: darkgray;
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 10%);
  max-width: 1340px;
  margin: 0 auto;
  padding: 30px;
  bottom: 0;
  top: 0;
}

h1 {
  color: ivory;
  border-bottom: 2px solid #444400;
}

.hexagon {
  position: relative;
  display: inline-block;
  /* left/right margin approx. 25% of .hexagon width + spacing */
  margin: 1px 18px;
  background-color: ivory;
  text-align: center;
}
.hexagon, .hexagon::before, .hexagon::after {
  /* easy way: height is width * 1.732
  actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
  remove border-radius for straight edges on hexagons */
  width: 67px;
  height: 116px;
  border-radius: 20%/5%;
}
.hexagon::before {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(-60deg);
}
.hexagon::after {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(60deg);
}
.hexagon:nth-child(even) {
  /* top approx. 50% of .hexagon height + spacing */
  top: 59px;
}
.hexagon.mod-full:hover {
  background-color: hsla(60, 75%, 75%, 1.0);
  color: black;
  cursor: pointer;
  z-index: 105;
}
.hexagon.mod-full:active, .hexagon.mod-isover {
  background-color: hsla(60, 75%, 50%, 1.0);
  z-index: 110;
}
.hexanone {
  position: relative;
  display: inline-block;
  width: 67px;
  height: 116px;
  margin: 1px 18px;
}
.hexanone:nth-child(even) {
  top: 59px;
}
.hexagontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  font-size: 1rem;
  line-height: 1.2;
  z-index: 100;
}
.c-board {
  background-color: darkgray;
  padding: 30px 40px 80px 40px;
}

.c-board-row {
  /* inline-block whitespace fix */
  font-size: 0;
}

.honeycomb {
  margin: 0 auto;
  text-align: center;
}
